# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Migrations (если нужно можно оставить)
**/migrations/*.py
!**/migrations/__init__.py

# PostgreSQL (ничего не нужно, БД не хранится)